{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
  <h1>Welcome</h1>
  <div class="buttons">
    <div class="button-container">
      <img
        src="{{ url_for('static', filename='add-friend.png') }}"
        alt="Signup"
        class="icon"
      />
      <button onclick="window.location.href='/signup'">Signup</button>
    </div>
    <div class="button-container">
      <img
        src="{{ url_for('static', filename='enter.png') }}"
        alt="Login"
        class="icon"
      />
      <button onclick="window.location.href='/login'">Login</button>
    </div>
  </div>
</div>
{% endblock %}
